@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

#app{
    width: 100vw;
    height: 100vh;
}

.btn-primary, .btn-primary.active{
    background-color: rgb(88 139 219);
    border-color: rgb(88 139 219);
}